{% load static %}
	{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=B612 Mono' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

 {% block body %}
<div class="bg-image"></div>

<div class="bg-text">
  <h2>Biometric Data Upload</h2>
  <h1 style="font-size:50px"></h1>
  <p>Enter your username and secret passkey to upload...</p>
<!-- 
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
  <div class="form-group">
    <label style="float:left;" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field|add_class:'form-control'|attr:"cols:20" }}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}

  </div>
{% endfor %}

	<button type="submit" class="button"><span>Submit</span></button>
 -->
<br>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<!-- {{form.as_p}} -->
	 {% for field in form %}
        <label class="labels" for="{{ field.name }}">{{ field.label }}</label>
        {{ field }}<br><br>
    {% endfor %}
	
	<button type="submit" class="button"><span>Upload to Server</span></button>
</form>
</div>
 {% endblock %}


 </body>
</html>